<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission

    </title>
    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
    <link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
</head>
<body>
	<h1 class="funny">Form for Sign up</h1>
    <form  th:action="@{/student}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{id}"/>
    	<p class="field">First_Name: <input type="text" th:field="*{f_name}" /></p>
        <p class="field">Last_Name: <input type="text" th:field="*{l_name}" /></p>
            <p class="field">Email: <input type="text" th:field="*{email}" /></p>   
        <p><input type="submit" value="Submit" /> </p>
    </form>
</body>
</html>